.patient-detail {
  width: 100%;
  height: 100%;
  background: #EBEDF3;

  .person-info {
    margin: 10px 100px 0;
  }

  .right-detail {
    height: 100%;

    .right-tabs {
      background-color: white;
    }

    .right-content {}
  }
}
