<app-head-layout>
</app-head-layout>
<div class="patient-detail">
  <div class="person-info">
    <app-person-info></app-person-info>
  </div>
  <div class="right-detail">
    <div class="right-tabs">
      <nz-tabset>
        <nz-tab *ngFor="let tab of tabs;let index=index">
          <ng-template #nzTabHeading>
            <div class="" (click)="tabShow(tab,index)">
              {{tab.name}}
            </div>

          </ng-template>
        </nz-tab>
      </nz-tabset>
    </div>
    <div class="right-content">
      <ng-container *ngIf="showIndex==0">
        <app-patient-info></app-patient-info>
      </ng-container>
      <ng-container *ngIf="showIndex==1">
        <app-clinic-info></app-clinic-info>
      </ng-container>
      <ng-container *ngIf="showIndex==2">
        <app-sign-monitor></app-sign-monitor>
      </ng-container>
      <ng-container *ngIf="showIndex==3">
        <app-sleep-monitor></app-sleep-monitor>
      </ng-container>
      <ng-container *ngIf="showIndex==4">
        <app-sleep-report></app-sleep-report>
      </ng-container>
    </div>
  </div>
</div>
