<div class="new-patients">
  <div class="new-patients-head">
    <img [src]="cmpImage[0]" alt=""><span>{{world[0]}}</span>
  </div>
  <div class="new-patients-body">
    <div class="p-block">
      <div class="p-num">
        99
      </div>
      <div class="p-detail">
        <img [src]="cmpImage[1]" alt=""><span>{{world[1]}}</span>
      </div>
    </div>
    <div class="p-block">
      <div class="p-num">
        29
      </div>
      <div class="p-detail">
        <img [src]="cmpImage[2]" alt=""><span>{{world[2]}}</span>
      </div>
    </div>
    <div class="p-block">
      <div class="p-num">
        19
      </div>
      <div class="p-detail">
        <img [src]="cmpImage[3]" alt=""><span>{{world[3]}}</span>
      </div>
    </div>
  </div>
</div>
