.sleep-monitor-info {
  .head-time {
    float: right;
    margin: 5px;
  }

  .head-time:after {
    clear: both;
  }

  .sleep-bed-info {
    width: 100%;

    & > div {
      width: 48%;
      display: inline-block;
      vertical-align: top;
    }
  }

  .table-info table tbody tr:nth-child(even) {
    background-color: #F9FAFC;
  }
}
