.circle-distribution {
  width: 100%;
  overflow: hidden;
  background-color: white;

  .circles-head {
    background: #FFFFFF;
    box-shadow: 0 1px 0 0 #DEE3E9;
    font-size: 16px;
    color: #555555;
    height: 40px;
    line-height: 40px;

    img,
    span {
      display: inline-block;
      padding-left: 6px;
    }

    img {
      width: 16px;
      height: auto;
      vertical-align: top;
      line-height: 40px;
      display: inline-block;
      margin: 12px 0 12px 12px;
      padding: 0;
    }
  }

  .lines {
    text-align: center;
  }
}
