<div class="patients-info">
  <div class="top-line">
    <div class="lf">
      <app-line-btn [totalBtn]="['门诊','在院','出院']"></app-line-btn>
    </div>
    <div class="rf">
      <app-search-line></app-search-line>
      <a class="more-opt">更多筛选条件</a>
    </div>
  </div>

  <div class="table-info">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <td><span>门诊号</span></td>
          <td><span>姓名</span></td>
          <td><span>性别</span></td>
          <td><span>年龄</span></td>
          <td><span>联系方式</span></td>
          <td><span>就诊医生</span></td>
          <td><span>就诊日期</span></td>
          <td><span>疾病诊断</span></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>0018</span></td>
          <td><span>赵志龙</span></td>
          <td><span>男</span></td>
          <td><span>22</span></td>
          <td><span>15158114444</span></td>
          <td><span>龙天明</span></td>
          <td><span>2016-09-08</span></td>
          <td><span>阑尾炎</span></td>
        </tr>

        <tr>
          <td><span>0018</span></td>
          <td><span>赵志龙</span></td>
          <td><span>男</span></td>
          <td><span>22</span></td>
          <td><span>15158114444</span></td>
          <td><span>龙天明</span></td>
          <td><span>2016-09-08</span></td>
          <td><span>阑尾炎</span></td>
        </tr>

        <tr>
          <td><span>0018</span></td>
          <td><span>赵志龙</span></td>
          <td><span>男</span></td>
          <td><span>22</span></td>
          <td><span>15158114444</span></td>
          <td><span>龙天明</span></td>
          <td><span>2016-09-08</span></td>
          <td><span>阑尾炎</span></td>
        </tr>

        <tr>
          <td><span>0018</span></td>
          <td><span>赵志龙</span></td>
          <td><span>男</span></td>
          <td><span>22</span></td>
          <td><span>15158114444</span></td>
          <td><span>龙天明</span></td>
          <td><span>2016-09-08</span></td>
          <td><span>阑尾炎</span></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
