<div class="patients-info">
  <div class="top-line">
    <div class="lf">
      <app-line-btn [totalBtn]="['门诊','在院','出院']" (btnInfo)="firedInfo($event)"></app-line-btn>
    </div>
    <div class="rf">
      <app-search-line [placeHolderValue]="['请输入姓名查询']" (search)="searchInfo($event)"></app-search-line>
      <a class="more-opt" (click)="showModal()">更多筛选条件</a>
    </div>
  </div>

  <div class="table-info">
    <table cellpadding="0" cellspacing="0" border="0" *ngIf="list.length>0">
      <thead>
        <tr>
          <td><span>门诊号</span></td>
          <td><span>姓名</span></td>
          <td><span>性别</span></td>
          <td><span>年龄</span></td>
          <td><span>联系方式</span></td>
          <td><span>就诊医生</span></td>
          <td><span>就诊日期</span></td>
          <td><span>疾病诊断</span></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td><span>{{item.customerNum}}</span></td>
          <td class="opt"><a href="/patientdetail/{{item.customerId}}" target="_blabk">{{item.name}}</a></td>
          <td><span>{{item.sex=='1'?'男':'女'}}</span></td>
          <td><span>{{item.birthday | pipeBirth}}</span></td>
          <td><span>{{item.mobile}}</span></td>
          <td><span>{{item.receptTreatDrName}}</span></td>
          <td><span>{{item.visitDate | date:'yyyy-MM-dd'}}</span></td>
          <td><span>{{item.diagName}}</span></td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
