<div class="clinic-list-info">
  <nz-timeline>
    <nz-timeline-item class="my-lines">
      <div class="time-block">
        <div class="times">2014-09-08</div>
        <div class="details">
          <span class="info">门诊：</span><span class="content">经营性项目</span>
        </div>
      </div>
    </nz-timeline-item>
    <nz-timeline-item class="my-lines">
      <div class="time-block">
        <div class="times">2014-09-08</div>
        <div class="details">
          <span class="info">门诊：</span><span class="content">经营性项目</span>
        </div>
      </div>
    </nz-timeline-item>
    <nz-timeline-item class="my-lines-in">
      <div class="time-block">
        <div class="times">2014-09-08</div>
        <div class="details">
          <span class="info">门诊：</span><span class="content">经营性项目</span>
        </div>
      </div>
    </nz-timeline-item>
    <nz-timeline-item class="my-lines">
      <div class="time-block">
        <div class="times">2014-09-08</div>
        <div class="details">
          <span class="info">门诊：</span><span class="content">经营性项目</span>
        </div>
      </div>
    </nz-timeline-item>
  </nz-timeline>
</div>
