.clinic-info {
  background-color: #ebedf3;
  min-height: 100%;

  .left-content {
    width: 180px;
    float: left;
    background-color: white;
    padding: 10px 0;
    margin-top: 10px;
  }

  .right-content {
    margin-left: 190px;
  }
}
