<div class="patient-info">
  <div class="box-info">
    <div class="box-head">
      <i></i><span>基本信息</span>
    </div>
    <div class="box-body">
      <div class="table-detail">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td><span class="tle">病历号</span></td>
              <td><span>0xxx0</span></td>
              <td><span class="tle">姓名</span></td>
              <td><span>龙芳芳</span></td>
              <td><span class="tle">性别</span></td>
              <td><span>男</span></td>
              <td><span class="tle">年龄</span></td>
              <td><span>99</span></td>
            </tr>
            <tr>
              <td><span class="tle">身份证号</span></td>
              <td><span>33064755556447</span></td>
              <td><span class="tle">联系电话</span></td>
              <td><span>18756474655</span></td>
              <td><span class="tle">民族</span></td>
              <td><span>汉</span></td>
              <td><span class="tle">婚姻</span></td>
              <td><span>已婚</span></td>
            </tr>
            <tr>
              <td><span class="tle">身高</span></td>
              <td><span>189</span></td>
              <td><span class="tle">体重</span></td>
              <td><span>66kg</span></td>
              <td><span class="tle">学历</span></td>
              <td><span>博士</span></td>
              <td><span class="tle">职业</span></td>
              <td><span>人工大脑</span></td>
            </tr>
            <tr>
              <td><span class="tle">证件类型</span></td>
              <td><span>189</span></td>
              <td><span class="tle">证件号码</span></td>
              <td><span>66kg</span></td>
              <td><span class="tle">联系地址</span></td>
              <td><span>博士</span></td>
              <td><span class="tle">邮编</span></td>
              <td><span>人工大脑</span></td>
            </tr>
            <tr>
              <td><span class="tle">家庭地址</span></td>
              <td><span>189</span></td>
              <td><span class="tle">家庭电话</span></td>
              <td><span>66kg</span></td>
              <td><span class="tle">户口所在地</span></td>
              <td><span>博士</span></td>
              <td><span class="tle">籍贯</span></td>
              <td><span>人工大脑</span></td>
            </tr>
            <tr>
              <td><span class="tle">电子邮件</span></td>
              <td><span>189</span></td>
              <td><span class="tle">工作单位</span></td>
              <td><span>66kg</span></td>
              <td><span class="tle"></span></td>
              <td><span></span></td>
              <td><span class="tle"></span></td>
              <td><span></span></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="box-info">
    <div class="box-head">
      <i></i><span>联系人</span>
    </div>
    <div class="box-body">
      <div class="table-detail">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td><span class="tle">姓名</span></td>
              <td><span>孔卡</span></td>
              <td><span class="tle">关系</span></td>
              <td><span>父子</span></td>
              <td><span class="tle">联系方式</span></td>
              <td><span>18744746555</span></td>
            </tr>
            <tr>
              <td><span class="tle">姓名</span></td>
              <td><span>不落洗涤</span></td>
              <td><span class="tle">关系</span></td>
              <td><span>部落</span></td>
              <td><span class="tle">联系方式</span></td>
              <td><span>188844944</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="box-info">
    <div class="box-head">
      <i></i><span>疾病史</span>
    </div>
    <div class="box-body">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td><span class="tle">过敏史</span></td>
            <td><span>无</span></td>
          </tr>

          <tr>
            <td><span class="tle">既往史</span></td>
            <td><span>无</span></td>
          </tr>
          <tr>
            <td><span class="tle">手术史</span></td>
            <td><span>无</span></td>
          </tr>
          <tr>
            <td><span class="tle">输血史</span></td>
            <td><span>18744746555</span></td>
          </tr>
          <tr>
            <td><span class="tle">传染病史</span></td>
            <td><span>无</span></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

</div>
