<div class="sign-monitor-info">
  <div class="box-sec">
    <div class="box-sec-head">
      <i></i>
      <span>历史体征变化</span>
    </div>
    <div class="box-sec-body">
      <div class="box-lines">
        <div class="m-r">
          <div class="box-info-til float-l">
            <div class="box-info-h">
              <span>血压</span>
            </div>
            <div class="box-info-b">
              <app-blood-pressure></app-blood-pressure>
            </div>
          </div>
        </div>
        <div class="m-l">
          <div class="box-info-til float-r">
            <div class="box-info-h">
              <span>血糖</span>
            </div>
            <div class="box-info-b">
              <app-blood-sugar></app-blood-sugar>
            </div>
          </div>
        </div>
      </div>


      <div class="box-lines">
        <div class="m-r">
          <div class="box-info-til float-l">
            <div class="box-info-h">
              <span>BMI</span>
            </div>
            <div class="box-info-b">
              <app-bmi-line></app-bmi-line>
            </div>
          </div>
        </div>
        <div class="m-l">
          <div class="box-info-til float-r">
            <div class="box-info-h">
              <span>血氧</span>
            </div>
            <div class="box-info-b">
              <app-blood-oxygen></app-blood-oxygen>
            </div>
          </div>
        </div>
      </div>


      <div class="box-lines">
        <div class="m-r">
          <div class="box-info-til float-l">
            <div class="box-info-h">
              <span>体温</span>
            </div>
            <div class="box-info-b">
              <app-heat-line></app-heat-line>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
