<div class="sign-monitor-info">
  <div class="box-sec">
    <div class="box-sec-head">
      <i></i>
      <span>历史体征变化</span>
    </div>
    <div class="box-sec-body">
      <div class="box-lines">
        <div class="m-r">
          <div class="box-info-til float-l">
            <div class="box-info-h">
              <span>血压</span>
            </div>
            <div class="box-info-b">
              <app-blood-pressure [userId]="customerId"></app-blood-pressure>
            </div>
          </div>
        </div>
        <div class="m-l">
          <div class="box-info-til float-r">
            <div class="box-info-h">
              <span>血糖</span>
            </div>
            <div class="box-info-b">
              <app-blood-sugar [userId]="customerId"></app-blood-sugar>
            </div>
          </div>
        </div>
      </div>


      <div class="box-lines">
        <div class="m-r">
          <div class="box-info-til float-l">
            <div class="box-info-h">
              <span>BMI</span>
            </div>
            <div class="box-info-b">
              <app-bmi-line [userId]="customerId"></app-bmi-line>
            </div>
          </div>
        </div>
        <div class="m-l">
          <div class="box-info-til float-r">
            <div class="box-info-h">
              <span>血氧</span>
            </div>
            <div class="box-info-b">
              <app-blood-oxygen [userId]="customerId"></app-blood-oxygen>
            </div>
          </div>
        </div>
      </div>


      <div class="box-lines">
        <div class="m-r">
          <div class="box-info-til float-l">
            <div class="box-info-h">
              <span>体温</span>
            </div>
            <div class="box-info-b">
              <app-heat-line [userId]="customerId"></app-heat-line>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="box-sec">
    <div class="box-sec-head">
      <i></i>
      <span>体征异常记录</span>
    </div>
    <div class="box-sec-body" style="padding-bottom: 20px;">
      <div class="table-info">
        <table cellpadding="0" cellspacing="0" border="0" *ngIf="list.length>0">
          <thead>
            <tr>
              <td><span>监测项目</span></td>
              <td><span>体征值</span></td>
              <td><span>体征单位</span></td>
              <td><span>监测时间</span></td>
              <td><span>异常状态</span></td>
              <td><span>处理意见</span></td>
              <td><span>操作</span></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list">
              <td>
                <span *ngIf="item.signType=='bp'">血压</span>
                <span *ngIf="item.signType=='bg'">血糖</span>
                <span *ngIf="item.signType=='temp'">体温</span>
                <span *ngIf="item.signType=='bmi'">BMI</span>
                <span *ngIf="item.signType=='spo2'">血氧</span>
              </td>
              <td>
                <span *ngIf="item.signType=='bp'">{{item.sbp}}/{{item.dbp}}</span>
                <span *ngIf="item.signType=='bg'">{{item.bg}}</span>
                <span *ngIf="item.signType=='temp'">{{item.temp}}</span>
                <span *ngIf="item.signType=='bmi'">{{item.bmi}}</span>
                <span *ngIf="item.signType=='spo2'">{{item.spo2}}</span>
              </td>
              <td>
                <span *ngIf="item.signType=='bp'">mmHg</span>
                <span *ngIf="item.signType=='bg'">mmol/L</span>
                <span *ngIf="item.signType=='temp'">℃</span>
                <span *ngIf="item.signType=='bmi'">kg/m²</span>
                <span *ngIf="item.signType=='spo2'">%</span>
              </td>
              <td><span>{{item.occurDtStr}}</span></td>
              <td>
                <span class="ex-warning">
                  <i *ngIf="item.extBizNo==1" class="anticon anticon-arrow-up"></i>
                  <i *ngIf="item.extBizNo==2" class="anticon anticon-arrow-down"></i>
                </span>
              </td>
              <td><span>{{item.dealResult}}</span></td>
              <td>
                <span *ngIf="item.dealStatus==0">已处理</span>
                <a *ngIf="item.dealStatus!=0">处理</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
