<div class="sign-monitor-info">
  <div class="box-sec">
    <div class="box-sec-head">
      <i></i>
      <span>历史体征变化</span>
    </div>
    <div class="box-sec-body">
      <div class="box-lines">
        <div class="m-r">
          <div class="box-info-til float-l">
            <div class="box-info-h">
              <span>血压</span>
            </div>
            <div class="box-info-b">
              <app-blood-pressure></app-blood-pressure>
            </div>
          </div>
        </div>
        <div class="m-l">
          <div class="box-info-til float-r">
            <div class="box-info-h">
              <span>血糖</span>
            </div>
            <div class="box-info-b">
              <app-blood-sugar></app-blood-sugar>
            </div>
          </div>
        </div>
      </div>


      <div class="box-lines">
        <div class="m-r">
          <div class="box-info-til float-l">
            <div class="box-info-h">
              <span>BMI</span>
            </div>
            <div class="box-info-b">
              <app-bmi-line></app-bmi-line>
            </div>
          </div>
        </div>
        <div class="m-l">
          <div class="box-info-til float-r">
            <div class="box-info-h">
              <span>血氧</span>
            </div>
            <div class="box-info-b">
              <app-blood-oxygen></app-blood-oxygen>
            </div>
          </div>
        </div>
      </div>


      <div class="box-lines">
        <div class="m-r">
          <div class="box-info-til float-l">
            <div class="box-info-h">
              <span>体温</span>
            </div>
            <div class="box-info-b">
              <app-heat-line></app-heat-line>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="box-sec">
    <div class="box-sec-head">
      <i></i>
      <span>体征异常记录</span>
    </div>
    <div class="box-sec-body" style="padding-bottom: 20px;">
      <div class="table-info">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
          <tr>
            <td><span>监测项目</span></td>
            <td><span>体征值</span></td>
            <td><span>体征单位</span></td>
            <td><span>监测时间</span></td>
            <td><span>异常状态</span></td>
            <td><span>处理意见</span></td>
            <td><span>操作</span></td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><span>心率</span></td>
            <td><span>264</span></td>
            <td><span>次/分</span></td>
            <td><span>2017-03-04 15:32</span></td>
            <td><span class="ex-warning"><i class="anticon anticon-arrow-up"></i></span></td>
            <td><span>癌术后，长期中药治疗，头晕，乏力，口苦</span></td>
            <td><span>已处理</span></td>
          </tr>
          <tr>
            <td><span>心率</span></td>
            <td><span>66</span></td>
            <td><span>次/分</span></td>
            <td><span>2017-02-01 15:32</span></td>
            <td><span class="ex-warning"><i class="anticon anticon-arrow-down"></i></span></td>
            <td><span>癌术后，长期中药治疗，头晕，乏力，口苦</span></td>
            <td><span>已处理</span></td>
          </tr>
          <tr>
            <td><span>血压</span></td>
            <td><span>170/108</span></td>
            <td><span>mmHg</span></td>
            <td><span>2017-01-25 15:32</span></td>
            <td><span class="ex-warning"><i class="anticon anticon-arrow-up"></i></span></td>
            <td><span>癌术后，长期中药治疗，头晕，乏力，口苦</span></td>
            <td><span><a href="javascript:void(0);" (click)="showModalEx()">处理</a></span></td>
          </tr>
          <tr>
            <td><span>血率</span></td>
            <td><span>68</span></td>
            <td><span>次/分</span></td>
            <td><span>2017-01-02 15:32</span></td>
            <td><span class="ex-warning"><i class="anticon anticon-arrow-down"></i></span></td>
            <td><span>癌术后，长期中药治疗，头晕，乏力，口苦</span></td>
            <td><span><a href="javascript:void(0);" (click)="showModalEx()">处理</a></span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
