<div class="echart-assess">
  <div class="bg-grey">
    <div *ngIf="type==='PSQI'" class="title">睡眠质量(PSQI)</div>
    <div *ngIf="type==='GAD7'" class="title gad7">焦虑情绪(GAD7)</div>
    <div *ngIf="type==='PHQ9'" class="title phq9">抑郁情绪(PHQ9)</div>
    <div class="chart" #tt>
      <echarts-ng2 [option]="option" [style]="echartsStyle"></echarts-ng2>
    </div>
    <div class="intro">
      <p>A：睡眠质量高</p>
      <p>B：入睡时间</p>
      <p>C：睡眠时间</p>
      <p>D：睡眠效率</p>
      <p>E：睡眠障碍</p>
      <p>F：催眠药物</p>
      <p>G：日间功能障碍</p>
    </div>
  </div>
  <div class="result">
    <h2>您的睡眠质量综合分析：一般</h2>
    <p>建议您进入我们的康复中心进行一段时间的“睡眠限制”进行康复训练。</p>
  </div>
</div>
