.ant-layout-header {
  height: 40px;
  line-height: 40px;
  background: #2E5EE9;
  padding: 0;

  .logo {
    width: 320px;
    height: 40px;
    border-radius: 6px;
    float: left;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      width: 140px;
      height: 40px;
      display: inline-block;
      border-right: 1px solid #6b6868;

      img {
        width: 100px;
        margin-top: 7px;
        margin-left: 18px;
      }
    }

    div,
    img {
      display: inline-flex;
      font-size: 16px;
    }
  }

  .login {
    float: right;
    padding-right: 30px;
    color: white;

    img,
    span {
      vertical-align: middle;
    }

    img {
      padding-right: 10px;
      width: 35px;
    }
  }
}
