<div class="patient-subject-info">
  <div class="search-line">
    <label for="">姓名:</label><input type="text" name="" value="">
    <label for="">身份证号:</label><input type="text" name="" value="">
    <label for="">手机号码</label><input type="text" name="" value="">
    <span>搜索</span>
  </div>
  <div class="table-info">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <td><span>姓名</span></td>
          <td><span>性别</span></td>
          <td><span>出生日期</span></td>
          <td><span>手机号码</span></td>
          <td><span>身份证号</span></td>
          <td><span>操作</span></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="dot icons-plus" (click)="showDetail($event)">赵志龙</span></td>
          <td><span>男</span></td>
          <td><span>1987-9-5</span></td>
          <td><span>15158114444</span></td>
          <td><span>330611187764546322</span></td>
          <td class="opt"><span>查看档案</span></td>
        </tr>
        <tr style="display:none">
          <td colspan='6'>
            <div class="table-in">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr>
                    <td><span>来源</span></td>
                    <td><span>住院号</span></td>
                    <td><span>姓名</span></td>
                    <td><span>性别</span></td>
                    <td><span>出生日期</span></td>
                    <td><span>手机号码</span></td>
                    <td><span>身份证号</span></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span><input type="checkbox" name="" value=""> 门诊</span></td>
                    <td><span>0333</span></td>
                    <td><span>咖啡</span></td>
                    <td><span>男</span></td>
                    <td><span>1924-8-09</span></td>
                    <td><span>148474484444</span></td>
                    <td><span>33074444482242344</span></td>
                  </tr>

                </tbody>
              </table>
              <div class="btn">
                <span>拆分</span>
              </div>
            </div>
          </td>

        </tr>


      </tbody>
    </table>
  </div>
</div>
