.patient-subject-info {
  width: 100%;

  .table-subject {
    table tbody tr:nth-child(3n) {
      background-color: #F5F9FC;
    }
  }

  .search-line {
    margin: 10px;

    label {
      font-size: 14px;
      color: #555;
    }

    input {
      height: 30px;
      width: 160px;
      margin: 0 20px 0 0;
      padding-left: 10px;
      outline: none;
      border: 1px solid #d9d9d9;
      border-radius: 4px;

      &:focus {
        border-color: #49a9ee;
        outline: 0;
        box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
      }
    }

    span {
      float: right;
      margin-right: 10px;
      background: #3D70E4;
      border-radius: 2px;
      color: white;
      font-size: 12px;
      display: inline-block;
      padding: 6px 24px;
      cursor: pointer;
    }

    span:after {
      clear: both;
    }
  }

  .dot {
    padding-left: 25px;
    cursor: pointer;
  }

  .icons-plus {
    background: url('/assets/images/plus.png') 0 10px no-repeat;
    background-size: 16px auto;
  }

  .icons-minus {
    background: url('/assets/images/minus.png') 0 10px no-repeat;
    background-size: 16px auto;
  }

  .sametime {
    // visibility: hidden;
    // height: 0;
    // display: none;
  }

  .shows {
    display: block;
  }

  .table-in {
    margin: 10px 60px 20px;

    table {
      background: #E9EDF7;
      border: 1px solid #DEE4E9;

      thead {
        tr {
          background: #E9EDF7;
          border: 1px solid #DEE4E9;

          td span {
            font-size: 14px;
            color: #666666;
          }
        }
      }

      tbody {
        tr {
          background: #F5F9FC;
          border: 1px solid #DEE4E9;

          td span {
            color: #333333;
            font-size: 14px;
          }
        }
      }
    }

    .btn {
      margin-top: 10px;
      text-align: center;

      span {
        cursor: pointer;
        background: #3D70E4;
        border-radius: 2px;
        width: 80px;
        font-size: 14px;
        color: white;
        display: inline-block;
        vertical-align: top;
        padding: 5px 0;
      }
    }
  }
}
