<div class="patient-subject-info">
  <div class="search-line">
    <label for="">姓名：</label><input type="text" name="name" value="" [(ngModel)]="customerName">
    <label for="">身份证号：</label><input type="text" name="cardId" value="" [(ngModel)]="cardId">
    <label for="">手机号码：</label><input type="text" name="tel" value="" [(ngModel)]="mobile">
    <span (click)="searchInfo($event)">搜索</span>
  </div>
  <div class="table-info table-subject">
    <table cellpadding="0" cellspacing="0" border="0" *ngIf="list.length>0">
      <thead>
        <tr>
          <td><span>姓名</span></td>
          <td><span>性别</span></td>
          <td><span>出生日期</span></td>
          <td><span>手机号码</span></td>
          <td><span>身份证号</span></td>
          <td><span>操作</span></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of list;let index = index">
          <tr>
            <td><span class="dot icons-plus" (click)="showDetail($event,item.name)">{{item.name}}</span></td>
            <td><span>{{item.sex=='1'?'男':'女'}}</span></td>
            <td><span>{{item.birthday | pipeBirth}}</span></td>
            <td><span>{{item.mobile}}</span></td>
            <td><span>{{item.cardId}}</span></td>
            <td class="opt"><a target="_blank" [routerLink]="['/patientdetail',item.mIndex]">查看档案</a></td>
          </tr>
          <tr class="chr no-show">
            <td colspan='6'>
              <div class="table-in">
                <table cellpadding="0" cellspacing="0" border="0">
                  <thead>
                    <tr>
                      <td><span>来源</span></td>
                      <td><span>住院号</span></td>
                      <td><span>姓名</span></td>
                      <td><span>性别</span></td>
                      <td><span>出生日期</span></td>
                      <td><span>手机号码</span></td>
                      <td><span>身份证号</span></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ck of childList;let ii = index">
                      <td><span><input type="checkbox" name="" value="" [(ngModel)]="ck.isCk" id="ll{{ii}}" style="margin-right:5px"> </span><label for="ll{{ii}}">{{ck.source}}</label></td>
                      <td><span>{{ck.visitId}}</span></td>
                      <td><span>{{ck.name}}</span></td>
                      <td><span>{{ck.sex=='1'?'男':'女'}}</span></td>
                      <td><span>{{ck.birthday | pipeBirth}}</span></td>
                      <td><span>{{ck.mobile}}</span></td>
                      <td><span>{{ck.cardId}}</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="btn">
                  <span (click)="makePullDown(index)">拆分</span>
                </div>
              </div>
            </td>

          </tr>
        </ng-container>


      </tbody>
    </table>
  </div>
</div>
