.bed-monitor-info {
  .head-right {
    float: right;
    margin: 5px;
    .head-right-item{
      font-size: 14px;
      color: #666666;
      padding: 0 20px;
    }
  }
  .head-right:after {
    clear: both;
  }

  .sleep-bed-info {
    width: 100%;

    & > div {
      width: 48%;
      display: inline-block;
      vertical-align: top;
    }
  }
}
