<div class="bed-monitor-info">
  <div class="box-sec">
    <div class="box-sec-head">
      <i></i><span>实时数据</span>
      <div class="head-right">
        <span class="head-right-item">
          <span>实时心率/HRL：</span>
          <span>66次/分</span>
        </span>
        <span class="head-right-item">
          <span>实时呼吸率/RR：</span>
          <span>18次/分</span>
        </span>
        <span class="head-right-item">
          <span>状态：</span>
          <span>在床</span>
        </span>
      </div>
    </div>
    <div class="box-sec-body">

      <div class="mybox" style="padding-bottom:2px;height:350px;">
        <div class="sleep-bed-info">
          <app-echart-arealine chartTitleText="心率" seriesItemStyleColor="#3D86E4"
                               [xAxisList]="timeList" [dataList]="heartList"
                               [legendDataList]="heartLegendList" [seriesAreaStyleList]="heartSAStyleList"></app-echart-arealine>
        </div>
      </div>

      <div class="mybox" style="padding-bottom:2px;height:350px;">
        <div class="sleep-bed-info">
          <app-echart-arealine chartTitleText="呼吸率" seriesItemStyleColor="#00CDBD"
                               [xAxisList]="timeList" [dataList]="breathList"
                               [legendDataList]="breathLegendList" [seriesAreaStyleList]="breathSAStyleList"></app-echart-arealine>
        </div>
      </div>

      <div class="mybox" style="padding-bottom:2px;height:350px;">
        <div class="sleep-bed-info">
          <app-move-action chartTitleText="实时体动" [xAxisList]="timeList" [dataList]="moveList" [legendDataList]="moveLegendList"></app-move-action>
        </div>
      </div>

    </div>
  </div>
</div>
