<div class="medical-detail">
  <app-head-layout></app-head-layout>
  <div class="head-zoom">
    <app-person-info [customerId]="customerId"></app-person-info>
  </div>
  <div class="medical-content">
    <div class="left-content" style="background:#EBEDF3">
      <div class="box-info">
        <div class="box-head">
          <i></i><span>监测报告</span>
          <div class="time-zoom">
            <app-times [name]="['监测时间:']" (fired)="getReportTime($event)"></app-times>
          </div>
        </div>
        <div class="box-body" style="padding:0;overflow:hidden;background:white;">
          <div class="tabs-info">
            <nz-tabset>
              <nz-tab *ngFor="let tab of tabs;let index=index" (nzClick)="showTpl(index)">
                <ng-template #nzTabHeading>
                  <div class="">
                    {{tab.name}}
                  </div>

                </ng-template>
              </nz-tab>
            </nz-tabset>
          </div>
          <div class="">
            <ng-container *ngIf="tabsIndex==0">
              <div class="">
                <app-sleep-monitor [dateShow]='true' [reportDay]="time"></app-sleep-monitor>
              </div>
            </ng-container>

            <ng-container *ngIf="tabsIndex==1">
              <div class="sleep-no">
                <div class="">
                  <app-echart-assess [chooseDay]="time"></app-echart-assess>
                </div>
                <div class="">
                  <app-echart-assess></app-echart-assess>
                </div>
                <div class="">
                  <app-echart-assess></app-echart-assess>

                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="tabsIndex==2">
              <div style="min-height:500px;background-color:#e2d9d9;max-height:1000px;overflow:auto">
                <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="right-content">
      <div class="box-info">
        <div class="box-head">
          <i></i><span>诊断记录</span>
          <div class="time-zoom">
            <app-times></app-times>
          </div>
        </div>
        <div class="box-body" style="background-color:white;padding:10px;">
          <div class="big-block">
            <div class="block-head">
              监测结论
            </div>
            <div class="block-body">
              <div class="paper">
                <div class="paper-head">
                  1、睡眠呼吸暂停低通气综合征
                </div>
                <div class="chk">
                  <input type="radio" name="one" value=""><label for="">符合</label>
                  <input type="radio" name="one" value=""><label for="">不符合</label>
                  <input type="radio" name="one" value=""><label for="">单存憨症</label>
                </div>
              </div>

              <div class="paper">
                <div class="paper-head">
                  2、类型
                </div>
                <div class="chk">
                  <input type="radio" name="one" value=""><label for="">低通气</label>
                  <input type="radio" name="one" value=""><label for="">阻塞性</label>
                  <input type="radio" name="one" value=""><label for="">中枢性</label>
                </div>
              </div>

              <div class="paper">
                <div class="paper-head">
                  3、严重程度
                </div>
                <div class="chk">
                  <input type="radio" name="one" value=""><label for="">轻度</label>
                  <input type="radio" name="one" value=""><label for="">中度</label>
                  <input type="radio" name="one" value=""><label for="">重度</label>
                </div>
              </div>

              <div class="paper">
                <div class="paper-head">
                  4、低血氧程度
                </div>
                <div class="chk">
                  <input type="radio" name="one" value=""><label for="">轻度</label>
                  <input type="radio" name="one" value=""><label for="">中度</label>
                  <input type="radio" name="one" value=""><label for="">重度</label>
                </div>
              </div>

              <div class="paper">
                <div class="paper-head">
                  5、睡眠状态
                </div>
                <div class="chk">
                  <input type="radio" name="one" value=""><label for="">好</label>
                  <input type="radio" name="one" value=""><label for="">尚可</label>
                  <input type="radio" name="one" value=""><label for="">紊乱</label>
                </div>
              </div>

              <div class="paper">
                <div class="paper-head">
                  6、体位关系
                </div>
                <div class="chk">
                  <input type="radio" name="one" value=""><label for="">无关</label>
                  <input type="radio" name="one" value=""><label for="">有关</label>
                </div>
              </div>

            </div>
          </div>

          <div class="big-block" style="overflow:hidden">
            <div class="block-head">
              诊疗建议
            </div>
            <div class="block-body">
              <div class="">
                <textarea name="name" rows="8" cols="80" style="width:100%;border:1px solid #dbe0e9;padding:10px;"></textarea>
                <a href="#" class="save">保存</a>
              </div>
            </div>
          </div>

          <div class="big-block">
            <div class="block-head-2">
              诊疗建议模板
            </div>
            <div class="block-body">
              <div class="">
                <app-line-btn [totalBtn]="['心里&健康','饮食运动','诊疗复查']" (btnInfo)="typeChange($event)"></app-line-btn>
              </div>
              <ng-container *ngFor="let item of tplList">
                <div class="f-chk" *ngIf="item.type==type">
                  <input type="checkbox" name="" value="">
                  <span>{{item.advice}}</span>
                </div>
              </ng-container>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
