<div class="clinic-detail">
  <div class="box-sec">
    <div class="box-sec-head">
      <i></i><span>就诊信息</span>
    </div>
    <div class="box-sec-body">
      <div class="table-spec">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span class="cc">就诊日期</span></td>
            <td><span>2015-08-09</span></td>
            <td><span class="cc">就诊类型</span></td>
            <td><span>医保</span></td>
            <td><span class="cc">接诊医生</span></td>
            <td><span>打红</span></td>
            <td><span class="cc">就诊科室</span></td>
            <td><span>急诊外科</span></td>
            <td><span class="cc">门诊诊断</span></td>
            <td><span>急性阑尾炎</span></td>
          </tr>
          <tr>
            <td><span class="cc">主诉</span></td>
            <td colspan="9"><span>好险</span></td>
          </tr>
          <tr>
            <td><span class="cc">现病史</span></td>
            <td colspan="9"><span>无</span></td>
          </tr>
          <tr>
            <td><span class="cc">体格检查</span></td>
            <td colspan="9"><span>壮士</span></td>
          </tr>
        </table>
      </div>

    </div>
  </div>





  <div class="box-sec">
    <div class="box-sec-head">
      <i></i><span>门诊处方</span>
    </div>
    <div class="box-sec-body">
      <div class="table-spec">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <td colspan="2"><span>处方号:19242344</span></td>
              <td colspan="2"><span>处方类别:西药</span></td>
              <td><span>开方医生:赵忠祥</span></td>
              <td><span>开放日期:2015-01-02</span></td>
              <td><span>开方科室:急诊</span></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="cc">药品名称</span></td>
              <td><span class="cc">药品规格</span></td>

              <td><span class="cc">一次计量</span></td>

              <td><span class="cc">总数量</span></td>
              <td><span class="cc">使用频次</span></td>
              <td><span class="cc">用药途径</span></td>
              <td><span class="cc">药品剂型</span></td>
            </tr>
            <tr>
              <td><span>头孢呋辛（西力欣）</span></td>
              <td><span>0.75</span></td>
              <td><span>1.50000</span></td>
              <td><span>1.0000</span></td>
              <td><span>每天3次</span></td>
              <td><span>筋脉注射</span></td>
              <td><span>针剂</span></td>
            </tr>
            <tr>
              <td><span>氯化钠</span></td>
              <td><span>0.75</span></td>
              <td><span>1.50000</span></td>
              <td><span>1.0000</span></td>
              <td><span>每天3次</span></td>
              <td><span>筋脉注射</span></td>
              <td><span>针剂</span></td>
            </tr>
            <tr>
              <td><span>感冒灵</span></td>
              <td><span>0.75</span></td>
              <td><span>1.50000</span></td>
              <td><span>1.0000</span></td>
              <td><span>每天3次</span></td>
              <td><span>筋脉注射</span></td>
              <td><span>针剂</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="box-sec">
    <div class="box-sec-head">
      <i></i><span>住院信息</span>
    </div>
    <div class="box-sec-body">
      <div class="table-spec">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span class="cc">住院号</span></td>
            <td><span>0934</span></td>
            <td><span class="cc">入院日期</span></td>
            <td><span>2015-08-09</span></td>
            <td><span class="cc">出院时间</span></td>
            <td><span>2018-09-08</span></td>
            <td><span class="cc">住院天数</span></td>
            <td><span>599</span></td>
          </tr>
          <tr>
            <td><span class="cc">转院情况</span></td>
            <td><span>-</span></td>
            <td><span class="cc">主治医师</span></td>
            <td><span>赵媛媛</span></td>
            <td><span class="cc">出院科室</span></td>
            <td><span>防腐层</span></td>
            <td><span class="cc">病床号</span></td>
            <td><span>03</span></td>
          </tr>
          <tr>
            <td><span class="cc">入院诊断</span></td>
            <td colspan="9"><span>肋骨骨折</span></td>
          </tr>
          <tr>
            <td><span class="cc">出院小结</span></td>
            <td colspan="9"><span>-</span></td>
          </tr>
        </table>
      </div>

    </div>
  </div>



  <div class="box-sec">
    <div class="box-sec-head">
      <i></i><span>检验报告</span>
    </div>
    <div class="box-sec-body">
      <div class="lines">
        <div class="info">
          报告单编号:202424234324
        </div>
        <div class="details">
          <span>检验项目：电解质思想+森</span>
          <span>样本类型：血液</span>
          <span>报告时间：2015-09-09</span>
          <span>开单医生：赵忠祥</span>
          <span>开单科室：急诊</span>
        </div>
      </div>
      <div class="table-spec">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span class="cc">项目</span></td>
            <td><span class="cc">异常指标</span></td>
            <td><span class="cc">检验结果值</span></td>
            <td><span class="cc">检验结果值单位</span></td>
            <td><span class="cc">参考范围</span></td>
          </tr>
          <tr>
            <td><span>鼻涕院桥颗粒</span></td>
            <td><span>上升</span></td>
            <td><span>244</span></td>
            <td><span>umol/L</span></td>
            <td><span>190-240</span></td>
          </tr>
          <tr>
            <td><span>鼻涕院桥颗粒</span></td>
            <td><span>上升</span></td>
            <td><span>244</span></td>
            <td><span>umol/L</span></td>
            <td><span>190-240</span></td>
          </tr>
          <tr>
            <td><span>鼻涕院桥颗粒</span></td>
            <td><span>上升</span></td>
            <td><span>244</span></td>
            <td><span>umol/L</span></td>
            <td><span>190-240</span></td>
          </tr>
          <tr>
            <td><span>鼻涕院桥颗粒</span></td>
            <td><span>上升</span></td>
            <td><span>244</span></td>
            <td><span>umol/L</span></td>
            <td><span>190-240</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>



</div>
