<div class="clinic-detail">
  <div class="box-sec">
    <div class="box-sec-head">
      <i></i><span>就诊信息</span>
    </div>
    <div class="box-sec-body">
      <div class="table-spec" *ngIf="clinicInfo.visitRecords">
        <table class="custom-table" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span class="cc">就诊日期</span></td>
            <td><span>{{clinicInfo.visitRecords.visitDate | date: 'yyyy-MM-dd'}}</span></td>
            <td><span class="cc">就诊类型</span></td>
            <td><span>{{clinicInfo.visitRecords.visitTypeName}}</span></td>
            <td><span class="cc">接诊医生</span></td>
            <td><span>{{clinicInfo.visitRecords.receptTreatDrName}}</span></td>
            <td><span class="cc">就诊科室</span></td>
            <td><span>{{clinicInfo.visitRecords.visitDeptName}}</span></td>
            <td><span class="cc">门诊诊断</span></td>
            <td><span>{{clinicInfo.visitRecords.diagName}}</span></td>
          </tr>
          <tr>
            <td><span class="cc">主诉</span></td>
            <td colspan="9"><span>{{clinicInfo.visitRecords.principleAction}}</span></td>
          </tr>
          <tr>
            <td><span class="cc">现病史</span></td>
            <td colspan="9"><span>{{clinicInfo.visitRecords.presentHistory}}</span></td>
          </tr>
          <tr>
            <td><span class="cc">体格检查</span></td>
            <td colspan="9"><span>{{clinicInfo.visitRecords.healthCheckup}}</span></td>
          </tr>
        </table>
      </div>

    </div>
  </div>





  <div class="box-sec">
    <div class="box-sec-head">
      <i></i><span>门诊处方</span>
    </div>
    <div class="box-sec-body">
      <div class="table-spec" [class.mt10]="i>0" *ngFor="let item of clinicInfo.outpatientPrescriptionList;let i = index">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <td colspan="2"><span>处方号:{{item.prescriptions.outhospNo}}</span></td>
              <td colspan="2"><span>处方类别:{{item.prescriptions.presCategName}}</span></td>
              <td><span>开方医生:{{item.prescriptions.presOpenDrName}}</span></td>
              <td><span>开放日期:{{item.prescriptions.presOrderDate | date: 'yyyy-MM-dd'}}</span></td>
              <td><span>开方科室:{{item.prescriptions.presOpenDeptName}}</span></td>
            </tr>
          </thead>
          <tbody>
            <tr class="text-left">
              <td><span class="cc">药品名称</span></td>
              <td><span class="cc">药品规格</span></td>

              <td><span class="cc">一次计量</span></td>

              <td><span class="cc">总数量</span></td>
              <td><span class="cc">使用频次</span></td>
              <td><span class="cc">用药途径</span></td>
              <td><span class="cc">药品剂型</span></td>
            </tr>
            <tr *ngFor="let subItem of item.prescriptionsDetailsList">
              <td><span>{{subItem.drugName}}</span></td>
              <td><span>{{subItem.drugSpecifications}}</span></td>
              <td><span>{{subItem.drugUseOneDosage}}</span></td>
              <td><span>{{subItem.drugAmount}}</span></td>
              <td><span>{{subItem.drugUseFrequencyName}}</span></td>
              <td><span>{{subItem.doseWayName}}</span></td>
              <td><span>{{subItem.drugFormName}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="box-sec">
    <div class="box-sec-head">
      <i></i><span>住院信息</span>
    </div>
    <div class="box-sec-body">
      <div class="table-spec">
        <table class="custom-table" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span class="cc">住院号</span></td>
            <td><span>0934</span></td>
            <td><span class="cc">入院日期</span></td>
            <td><span>2015-08-09</span></td>
            <td><span class="cc">出院时间</span></td>
            <td><span>2018-09-08</span></td>
            <td><span class="cc">住院天数</span></td>
            <td><span>599</span></td>
          </tr>
          <tr>
            <td><span class="cc">转院情况</span></td>
            <td><span>-</span></td>
            <td><span class="cc">主治医师</span></td>
            <td><span>赵媛媛</span></td>
            <td><span class="cc">出院科室</span></td>
            <td><span>防腐层</span></td>
            <td><span class="cc">病床号</span></td>
            <td><span>03</span></td>
          </tr>
          <tr>
            <td><span class="cc">入院诊断</span></td>
            <td colspan="7"><span>肋骨骨折</span></td>
          </tr>
          <tr>
            <td><span class="cc">出院小结</span></td>
            <td colspan="7"><span>-</span></td>
          </tr>
        </table>
      </div>

    </div>
  </div>



  <div class="box-sec">
    <div class="box-sec-head">
      <i></i><span>住院手术</span>
    </div>
    <div class="box-sec-body">
      <div class="table-spec">
        <table class="custom-table table-surgery" *ngFor="let item of clinicInfo.surgeriesList" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span class="cc">手术日期</span></td>
            <td><span>{{item.surgeryBeginDate | date: 'yyyy-MM-dd'}}</span></td>
            <td><span class="cc">手术名称</span></td>
            <td><span>{{item.surgeryOperName?item.surgeryOperName:'-'}}</span></td>
            <td><span class="cc">手术医生</span></td>
            <td><span>{{item.surgeryDrName}}</span></td>
            <td><span class="cc">麻醉方式</span></td>
            <td><span>{{item.anesMethodName?item.anesMethodName:'-'}}</span></td>
          </tr>
          <tr>
            <td><span class="cc">手术级别</span></td>
            <td><span>-</span></td>
            <td><span class="cc ft12">切口愈合登记</span></td>
            <td><span>-</span></td>
            <td><span class="cc">麻醉医生</span></td>
            <td colspan="3"><span>{{item.anesDrName?item.anesDrName:'-'}}</span></td>
          </tr>
        </table>
      </div>

    </div>
  </div>


  <div class="box-sec">
    <div class="box-sec-head">
      <i></i><span>检查报告</span>
    </div>
    <div class="box-sec-body">
      <div class="table-spec" [class.mt10]="i>0" *ngFor="let item of clinicInfo.examReportList; let i = index">
        <div class="lines">
          <div class="info">
            报告编号：{{item.reportNo}}
          </div>
        </div>

        <table class="custom-table" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span class="cc">检查类别</span></td>
            <td><span>{{item.examCategName}}</span></td>
            <td><span class="cc">检查项目</span></td>
            <td><span>{{item.examItemName}}</span></td>
            <td><span class="cc">报告时间</span></td>
            <td><span>{{item.reportDate | date:'yyyy-MM-dd'}}</span></td>
            <td><span class="cc">开单医生</span></td>
            <td><span>{{item.reportDrName}}</span></td>
          </tr>
          <tr>
            <td><span class="cc">开单科室</span></td>
            <td colspan="7"><span>{{item.reportDeptName}}</span></td>
          </tr>
          <tr>
            <td><span class="cc">检查结果</span></td>
            <td colspan="7"><span>{{item.examResults}}</span></td>
          </tr>
          <tr>
            <td><span class="cc">检查描述</span></td>
            <td colspan="7"><span></span></td>
          </tr>
          <tr>
            <td><span class="cc">图文报告</span></td>
            <td colspan="7"><span style="color:#2e5ee9">点击查看</span></td>
          </tr>
        </table>

      </div>
    </div>

    <div class="box-sec">
      <div class="box-sec-head">
        <i></i><span>检验报告</span>
      </div>
      <div class="box-sec-body">
        <div [class.mt10]="i>0" *ngFor="let item of clinicInfo.inspectionReportList;let i=index">
          <div class="lines">
            <div class="info">
              报告单编号:{{item.lisReport.reportNo}}
            </div>
            <div class="details">
              <span>检验项目：{{item.lisReport.testItemName}}</span>
              <span>样本类型：{{item.lisReport.sampleTypeName}}</span>
              <span>报告时间：{{item.lisReport.reportDate | date:'yyyy-MM-dd'}}</span>
              <span>开单医生：{{item.lisReport.reportDrName}}</span>
              <span>开单科室：{{item.lisReport.reportDeptName}}</span>
            </div>
          </div>
          <div class="table-spec">
            <table cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td><span class="cc center">项目</span></td>
                <td><span class="cc center">异常指标</span></td>
                <td><span class="cc center">检验结果值</span></td>
                <td><span class="cc center">检验结果值单位</span></td>
                <td><span class="cc center">参考范围</span></td>
              </tr>
              <tr *ngFor="let subItem of item.lisReportDetailList">
                <td><span class="center">{{subItem.itemName}}</span></td>
                <td>
                  <span class="center">
                    <i *ngIf="subItem.reportAbnormalSign<0" class="anticon anticon-arrow-down"></i>
                    <i *ngIf="subItem.reportAbnormalSign>0" class="anticon anticon-arrow-up"></i>
                  </span>
                </td>
                <td><span class="center">{{subItem.testResultValue}}</span></td>
                <td><span class="center">{{subItem.testResultValueUnit}}</span></td>
                <td><span class="center">{{subItem.lowMaxValue}}-{{subItem.highMaxValue}}</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>
