<div class="sleep-medical-info">
  <div class="search-line">
    <div class="date-zoom">
      <nz-datepicker style="width: 40%;" (ngModelChange)="_startDate=$event;_startValueChange()" [ngModel]="_startDate" [nzDisabledDate]="_disabledStartDate" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'Start date'"></nz-datepicker>
      至
      <nz-datepicker style="width: 40%;" (ngModelChange)="_endDate=$event;_endValueChange()" [ngModel]="_endDate" [nzDisabledDate]="_disabledEndDate" [nzShowTime]="_endTime" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'End date'"></nz-datepicker>
    </div>
    <div class="">
      <app-search-line></app-search-line>
    </div>
    <div class="btn">
      <span (click)="makePaper()">开具诊断</span>
    </div>
  </div>
  <div class="table-info">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <td><span>姓名</span></td>
          <td><span>性别</span></td>
          <td><span>年龄</span></td>
          <td><span>联系电话</span></td>
          <td><span>诊断时间</span></td>
          <td><span>诊断医生</span></td>
          <td><span>操作</span></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>golong</span></td>
          <td><span>男</span></td>
          <td><span>99</span></td>
          <td><span>18755759443</span></td>
          <td><span>2017-09-01</span></td>
          <td><span>花名册</span></td>
          <td class="opt"><a [routerLink]="['/medicaldetail']" target="_blank">查看诊断报告</a></td>
        </tr>
        <tr>
          <td><span>golong</span></td>
          <td><span>男</span></td>
          <td><span>99</span></td>
          <td><span>18755759443</span></td>
          <td><span>2017-09-01</span></td>
          <td><span>花名册</span></td>
          <td class="opt"><a [routerLink]="['/medicaldetail']" target="_blank">查看诊断报告</a></td>
        </tr>
        <tr>
          <td><span>golong</span></td>
          <td><span>男</span></td>
          <td><span>99</span></td>
          <td><span>18755759443</span></td>
          <td><span>2017-09-01</span></td>
          <td><span>花名册</span></td>
          <td class="opt"><a [routerLink]="['/medicaldetail']" target="_blank">查看诊断报告</a></td>
        </tr>
        <tr>
          <td><span>golong</span></td>
          <td><span>男</span></td>
          <td><span>99</span></td>
          <td><span>18755759443</span></td>
          <td><span>2017-09-01</span></td>
          <td><span>花名册</span></td>
          <td class="opt"><a [routerLink]="['/medicaldetail']" target="_blank">查看诊断报告</a></td>
        </tr>
        <tr>
          <td><span>golong</span></td>
          <td><span>男</span></td>
          <td><span>99</span></td>
          <td><span>18755759443</span></td>
          <td><span>2017-09-01</span></td>
          <td><span>花名册</span></td>
          <td class="opt"><a [routerLink]="['/medicaldetail']" target="_blank">查看诊断报告</a></td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
