.hmmsm-detail {
  width: 100%;
  background: #F4F6F9;

  .head-zoom {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .hmmsm-content {
    margin: 0;
    padding: 0;
    .title-bar{
      height: 40px;
      line-height: 40px;
      background: #F4F6F9;
    }


  }
}
