<app-head-layout>
  </app-head-layout>
  <div class="view-questionnaire">
    <div class="person-info">
      <app-person-info></app-person-info>
    </div>
    <div class="container">
      <ul class="question-list">
        <li>
          <h3>1. 近一个月您有没有因为夜间上厕所影响睡眠而烦恼？</h3>
          <div class="answers">
            <div class="item">
              <div class="beauty-radio">
                <input type="radio" />
                <span class="radio-icon"></span>
                <span>无</span>
              </div>
              
            </div>
            <div class="item">
              <div class="beauty-radio">
                <input type="radio"/>
                <span class="radio-icon"></span>
                <span><1次/周</span>
              </div>   
            </div>
            <div class="item">
              <div class="beauty-radio">
                <input type="radio" checked/>
                <span class="radio-icon"></span>
                <span>1-2次/周</span>
              </div>   
            </div>
            <div class="item">
              <div class="beauty-radio">
                <input type="radio"/>
                <span class="radio-icon"></span>
                <span>≥3次/周</span>
              </div>   
            </div>
          </div>
        </li>

        <li>
          <h3>2. 近一个月您有没有因为夜间上厕所影响睡眠而烦恼？</h3>
          <div class="answers">
            <div class="item">
              <div class="beauty-radio">
                <input type="radio" />
                <span class="radio-icon"></span>
                <span>无</span>
              </div>
              
            </div>
            <div class="item">
              <div class="beauty-radio">
                <input type="radio" checked/>
                <span class="radio-icon"></span>
                <span><1次/周</span>
              </div>   
            </div>
            <div class="item">
              <div class="beauty-radio">
                <input type="radio"/>
                <span class="radio-icon"></span>
                <span>1-2次/周</span>
              </div>   
            </div>
            <div class="item">
              <div class="beauty-radio">
                <input type="radio"/>
                <span class="radio-icon"></span>
                <span>≥3次/周</span>
              </div>   
            </div>
          </div>
        </li>

        <li>
          <h3>3. 近一个月您有没有因为夜间上厕所影响睡眠而烦恼？</h3>
          <div class="answers">
            <div class="item">
              <div class="beauty-radio">
                <input type="radio" />
                <span class="radio-icon"></span>
                <span>无</span>
              </div>
              
            </div>
            <div class="item">
              <div class="beauty-radio">
                <input type="radio"/>
                <span class="radio-icon"></span>
                <span><1次/周</span>
              </div>   
            </div>
            <div class="item">
              <div class="beauty-radio">
                <input type="radio"/>
                <span class="radio-icon"></span>
                <span>1-2次/周</span>
              </div>   
            </div>
            <div class="item">
              <div class="beauty-radio">
                <input type="radio"  checked/>
                <span class="radio-icon"></span>
                <span>≥3次/周</span>
              </div>   
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div> 
  