/* You can add global styles to this file, and also import other style files */
a,
li {
  outline: none;
}

.ant-menu-submenu-title:hover {
  color: #FF955F!important;
}

.ant-layout {
  min-height: 100%;
}

.ant-tabs-bar {
  margin-bottom: 0 !important;
}

.table-info {
  font-size: 14px;
  background-color: white;

  table {
    width: 100%;
    text-align: center;

    span {
      display: inline-block;
      padding: 8px 0;
    }

    thead {
      tr {
        background-color: #F2F3F6;

        td span {
          color: #888888;
        }
      }
    }

    tbody {
      tr:nth-child(even) {
        background-color: #F5F9FC;

        td span {
          color: #333333;
        }

        td.opt span {
          color: #3d70e4;
        }
      }

      td.opt span {
        cursor: pointer;
        color: #3d70e4;
        margin: 0 5px;
      }
    }
  }
}

.box-info {
  .box-head {
    padding: 8px;
    font-size: 16px;
    background: rgba(255,255,255,0.70);
    box-shadow: 0 1px 0 0 #DEE3E9;

    & > i {
      display: inline-block;
      background: #2E5EE9;
      width: 5px;
      height: 5px;
      vertical-align: middle;
      border-radius: 40px;
      margin-right: 5px;
    }
  }

  .box-body {
    padding: 10px 20px;
    font-size: 14px;
    min-height: 150px;
  }
}

.table-detail {
  table {
    border-top: 1px solid rgba(222,227,233,0.70);
    border-left: 1px solid rgba(222,227,233,0.70);
    width: 100%;

    tbody {
      tr {
        td {
          border-right: 1px solid rgba(222,227,233,0.70);
          border-bottom: 1px solid rgba(222,227,233,0.70);
        }

        span {
          font-size: 14px;
          color: #666666;
          padding: 8px 5px;
          text-align: left;
          display: block;
        }

        td:nth-child(odd) {
          width: 88px;
        }

        span.tle {
          width: 100%;
          text-align: right;
          background: rgba(241,245,249,0.50);
        }
      }
    }
  }
}
// 美化checkbox

.beauty-chk {
  display: inline-block;
  vertical-align: middle;

  input {
    display: none;

    &:checked+.chk-icon {
      background-image: url("/assets/images/checked.png");
    }
  }

  .chk-icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-image: url("/assets/images/unchecked.png");
    background-position: no-repeat;
    background-position: center;
  }
}

.box-sec {
  .box-sec-head {
    background: #F4F6F9;
    height: 40px;

    & > i {
      border-left: 3px solid #2e5ee9;
      width: 3px;
      display: inline-block;
      height: 16px;
      margin: 8px 0 8px 12px;
    }

    & > span {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #333333;
      letter-spacing: 0;
      line-height: 16px;
      padding-left: 10px;
      vertical-align: top;
      display: inline-block;
      margin: 8px 0;
    }
  }

  .box-sec-body {
    background-color: white;
    padding: 10px 20px;
  }
}

input[type="text"]{
  font-size: 14px;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
  }
}
.ipt-search{
  display: inline-block;
  width: 180px;
  height: 30px;
  margin-right: 20px;
  padding: 5px 10px;
  border: 1px solid #DBE0E9;
  border-radius:4px;
  &:focus{
    border-color: #49a9ee;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
  }
}