<nz-layout class="layout fixed-ant-layout">
  <app-head-layout></app-head-layout>
  <nz-layout>
    <nz-sider [nzWidth]="140">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li>
          <a title class="head-index ant-menu-item" [class.ant-menu-item-selected]='homeShow' (click)="toggleChoose(1,$event)" routerLink="/home/main"><i class="anticon anticon-home"></i>我的首页</a>
        </li>
        <li nz-submenu nzOpen=true>
          <span title><i class="anticon anticon-user"></i>患者档案</span>
          <ul class="menu-level-sec">
            <li nz-menu-item (click)="toggleChoose(2,$event)" routerLink="/home/patients">患者查询</li>
            <li nz-menu-item (click)="toggleChoose(2,$event)" routerLink="/home/patientsubject">患者主索引</li>
          </ul>
        </li>
        <li nz-submenu nzOpen=true>
          <span title><i class="anticon icon-check-health"></i>健康监测</span>
          <ul>
            <li nz-menu-item (click)="toggleChoose(2,$event)" routerLink="/home/hmbed">床用体征监测</li>
            <li nz-menu-item (click)="toggleChoose(2,$event)" routerLink="/home/hmmsm">多体征监测</li>
          </ul>
        </li>

        <li nz-submenu nzOpen=true>
          <span title><i class="anticon icon-report"></i>睡眠报告</span>
          <ul>
            <li nz-menu-item (click)="toggleChoose(2,$event)" routerLink="/home/sleepassessment">睡眠障碍评估量表</li>
            <li nz-menu-item (click)="toggleChoose(2,$event)" routerLink="/home/sleepreports">PSG睡眠监测报告</li>
          </ul>
        </li>

        <li nz-submenu nzOpen=true>
          <span title> <i class="anticon  icon-zhenduan "></i>睡眠诊断</span>
          <ul>
            <li nz-menu-item (click)="toggleChoose(2,$event)" routerLink="/home/sleepmedical">睡眠诊断</li>
          </ul>
        </li>

        <!-- <li nz-submenu nzOpen=true>
          <span title><i class="anticon icon-huatong"></i>随访管理</span>
          <ul>
            <li nz-menu-item (click)="toggleChoose(2,$event)">随访计划</li>
            <li nz-menu-item (click)="toggleChoose(2,$event)">呼叫中心</li>
          </ul>
        </li> -->

        <li nz-submenu nzOpen=true>
          <span title><i class="anticon icon-setting"></i>系统设置</span>
          <ul>
            <li nz-menu-item (click)="toggleChoose(2,$event)" routerLink="/home/accounts">账号管理</li>
            <li nz-menu-item (click)="toggleChoose(2,$event)" routerLink="/home/privileges">权限管理</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="background-color:#EBEDF3;overflow-x:auto">
      <nz-content style="min-width:1024px;" class="bodyBG-white" [class.bodyBG]='activePageUrl=="/home/main"'>
        <div class="">

          <div class="tt" [class.noTabs]="tabLength==1">
            <app-tabs [activePage]="activePageName" [activeUrl]="activePageUrl" (fired)="menuChange($event)" (tabInfo)="getTabInfo($event)"></app-tabs>
          </div>
          <div class="" style="">
            <router-outlet></router-outlet>

          </div>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
