.fixed-ant-layout {
  height: 100%;

  .ant-layout-sider {
    ul {
      background-color: #43495C;
      color: white;
      font-size: 14px;

      .menu-level-sec {
        background: #3F414C;
      }

      .head-index {
        padding: 0 16px;
        font-size: 12px;
        line-height: 42px;
        height: 42px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        margin-left: 9px;
        color: white;

        i {
          margin-right: 8px;
        }
      }

      .head-index:hover,
      .home-choose {
        color: #FF955F;
      }
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: inherit;
      color: #FF955F;
    }

    .ant-menu-inline .ant-menu-item:after,
    .ant-menu-vertical .ant-menu-item:after {
      border-right: 3px solid #FF955F;
    }

    .ant-menu-item:hover,
    .ant-menu-submenu-title:hover {
      color: #FF955F!important;
    }
  }

  .bodyBG-white {
    background-color: white;
  }

  .bodyBG {
    background-color: #EBEDF3;
  }

  .noTabs {
    display: none;
  }
}
