.page-system{
  padding: 8px 30px;
  .search-wrap{
    float: right;
    margin: 8px 0;
  }
  .more-opt {
    color: white;
    background-color: #3d80e4;
    font-size: 12px;
    line-height: 30px;
    padding: 0 14px;
    height: 30px;
    display: inline-block;
    border-radius: 4px;
  }
}