.page-system{
  padding: 10px;
  .search-wrap{
    float: right;
    margin-bottom: 8px;
  }
  .more-opt {
    color: white;
    background-color: #3d80e4;
    font-size: 12px;
    line-height: 30px;
    padding: 0 14px;
    height: 30px;
    display: inline-block;
    border-radius: 4px;
  }
  tr td a{
    display: inline-block;
    &+a{
      margin-left: 10px;
    }
  }
}