<div class="page-system">
  <div class="top-line">
    <div class="search-wrap">
      <app-search-line></app-search-line>
      <a class="more-opt" (click)="showModal()">新增账号</a>
    </div>
  </div>

  <div class="table-info">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <td><span>用户名</span></td>
          <td><span>角色</span></td>
          <td><span>姓名</span></td>
          <td><span>手机号</span></td>
          <td><span>邮箱</span></td>
          <td><span>操作</span></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>admin</span></td>
          <td><span>系统管理员</span></td>
          <td><span>admin</span></td>
          <td><span>13812345678</span></td>
          <td><span>3131006361@qq.com</span></td>
          <td><a>编辑</a><a>删除</a></td>
        </tr>

        <tr>
          <td><span>wqy</span></td>
          <td><span>平台管理员</span></td>
          <td><span>王沁莹</span></td>
          <td><span>13812346666</span></td>
          <td><span>xukq@317hu.com</span></td>
          <td><a>编辑</a><a>删除</a></td>
        </tr>

        <tr>
          <td><span>whh</span></td>
          <td><span>健康专员</span></td>
          <td><span>万红花</span></td>
          <td><span>15757102452</span></td>
          <td><span></span></td>
          <td><a>编辑</a><a>删除</a></td>
        </tr>

        <tr>
          <td><span>whh</span></td>
          <td><span>健康专员</span></td>
          <td><span>万红花</span></td>
          <td><span>15757102452</span></td>
          <td><span></span></td>
          <td><a>编辑</a><a>删除</a></td>
        </tr>

        <tr>
          <td><span>whh</span></td>
          <td><span>健康专员</span></td>
          <td><span>万红花</span></td>
          <td><span>15757102452</span></td>
          <td><span></span></td>
          <td><a>编辑</a><a>删除</a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
